@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

button {
  font-style: inherit;
  font-weight: inherit;
}

.text-shadow {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
